CLICKUP_CLIENT_ID=client_app_id_from_CU
CLICKUP_CLIENT_SECRET=client_secret_from_CU_app
CLICKUP_CALLBACK_URL=http://localhost:3000/auth/clickup/callback
SESSION_SECRET=your_session_secret
CLICKUP_WEBHOOK_SECRET=webhook_secret